<!DOCTYPE html>
<html>
  <head>
    <title>Sensor List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/api/showDataSensor/Pressure">Pressure</a></h3>
      <h3><a href="/api/showDataSensor/Temperature">Temperature,</a></h3>
      <h3><a href="/api/showDataSensor/Temperature">Humidity</a></h3>
      <h3><a href="/api/showDataSensor/Gyroscope">Gyroscope</a></h3>
      <h3><a href="/api/showDataSensor/Accelerometer">Accelerometer</a></h3>
      <h3><a href="/api/showDataSensor/Magnetometer">Magnetometer</a></h3>
    </div>
  </body>
</html>
